<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9 form-group">
        <label>Name
          <input #name class="form-control" type="text">
        </label>
      </div>
      <div class="col-sm-3 form-group">
        <label>Amount
          <input #amount class="form-control" id="amount" max="100" min="1" onKeyDown="return false" type="number"
                 value="1">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-toolbar">
          <button (click)="onAddClicked()" class="btn btn-success" type="button">
            Add
          </button>
          <button (click)="onDeleteClicked()" class="btn btn-danger" type="button">Delete</button>
          <button (click)="onClearClicked()" class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
